html, body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    background-color: $background-color;
    color: $text-color;
}

h1, h2, h3, h4 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    margin-bottom: $base-font-size / 2;
}

h1 {
    font-size: $heading-font-size;
    line-height: $heading-line-height;
}

h2 {
    font-size: $base-font-size + ($heading-font-size - $base-font-size) / 2;
    line-height: $base-line-height + ($heading-line-height - $base-line-height) / 2;
}

h3 {
    font-size: $base-font-size + ($heading-font-size - $base-font-size) / 4;
    line-height: $base-line-height + ($heading-line-height - $base-line-height) / 4;
}

h4 {
    font-size: $base-font-size + ($heading-font-size - $base-font-size) / 6;
    line-height: $base-line-height + ($heading-line-height - $base-line-height) / 6;
}

strong {
    font-weight: $base-font-weight * 2.0;
}

#sidebar {
    h1 {
        font-size: 125%;
        text-align: center;
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &-description{
        color: darken($text-color, 50%);
    }

    &-links {
        a {
            color: $text-color;
        }
    }
}

a {
    color: $accent-color;
    &:visited {
        color: darken($accent-color, 10%);
    }
    &:hover, &:active {
        text-decoration: underline;
        color: $accent-color;
    }
}

a.no-decorate {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: $accent-color;
    }
}

a.social-icon {
    font-size: 20px;
    border-radius: 50%;
    line-height: 30px;
    width: 30px;
    color: $text-color;
    @include transition(all 0.25s ease);
    &:hover {
        text-decoration: none;
    }
}

a.social-icon {
    text-decoration: none;
}

a.social-icon.twitter {
    color: $twitter-color;
    &:hover {
        background-color: $twitter-color;
        color: $background-color;
    }
}

a.social-icon.github {
    color: $github-color;
    &:hover {
        background-color: $github-color;
        color: $background-color;
    }
}

a.social-icon.rss {
    color: $rss-color;
    &:hover {
        background-color: $rss-color;
        color: $background-color;
    }
}

blockquote {
    background-color: darken($background-color, 1.5%);
    border: solid 1px darken($background-color, 20%);
}

pre {
    font-family: $code-font-family;
    font-size: $code-font-size;
    background-color: darken($background-color, 1.5%);
    border: solid 1px darken($background-color, 20%);
}

code {
    font-family: $code-font-family;
    font-size: $code-font-size;
}

#footer {
    font-size: 75%;
    color: lighten($text-color, 50%);
}

a.tag {
    color: inherit;
}
