html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: $justification;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#sidebar {
    padding: 0.5em;
    text-align: center;
}

#gravatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('http://www.gravatar.com/avatar/9f17df847cd69055fdbe0e3cc98423b8?s=120');
}

#social-icons {
    margin: 0.75em auto;
    text-align: center;

    .social-icon {
        display: inline-block;
        margin: 0 4px;
        text-align: center;
    }
}

#main {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $content-width;
}

#footer {
    margin: 2em auto 1em;
    width: 100%;
    max-width: $content-width;
    text-align: center;
}

p {
    margin-top: 0;
}

blockquote {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

pre {
    padding: 0.5em;
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
}
