<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/highlight.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>

        <nav id="sidebar">
            <div id="gravatar"></div>
            <h1><a href="/">{{ site.title }}</a></h1>
            <div id="sidebar-description">
                <p>
                    {{ site.description }}
                </p>
            </div>
            <div id="sidebar-links">
                <a href="/blog/">Blog</a>
                • <a href="/notes/">Notes</a>
            </div>
            <div id="social-icons">
                <a class="social-icon fa fa-twitter twitter" href="https://twitter.com/{{site.twitter_username}}" title="@{{site.twitter_username}}"></a>
                <a class="social-icon fa fa-github github" href="https://github.com/{{site.github_username}}" title="github.com/{{site.github_username}}"></a>
                <a class="social-icon fa fa-rss rss" href="/feed.xml" title="Feed"></a>
            </div>
        </nav>

        <div id="main">
            <div id="main-content">
                {{ content }}
                <div id="footer">
                    These words are licensed to you under a
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        Creative Commons Attribution 4.0 International License
                    </a>.
                    <br>
                    Design credit: <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a>,
                    for <a href="https://github.com/shashankmehta/greyshade">Greyshade</a>
                </div>
            </div>
        </div>

        <script src="/js/google.js"></script>
    </body>
</html>
